@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

body {
    background-color: rgb(141, 134, 136) !important;
}

.game-component {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    font-family: 'Rakkas', cursive;
}

button {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    font-family: 'Rakkas', cursive !important;
}

button:hover {
    background-color: rgba(255, 233, 0);
    color: rgb(80, 74, 75);
    font-family: 'Rakkas', cursive !important;
}

/* Flag images and respective ID numbers */

#flag-id-0 {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    width: 100%;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
    font-family: 'Rakkas', cursive !important;
    font-size: 900%;
}

#flag-id-1 {
    background: url("../images/wales-flag.png") center no-repeat;
    width: 100%;
    min-height: 300px;
}

#flag-id-2 {
    background: url("../images/new-zealand-flag.png") center no-repeat;
    width: 100%;
    min-height: 300px;
}

#flag-id-3 {
    background-color: blue;
}

#flag-id-4 {
    background-color: blue;
}

#flag-id-5 {
    background-color: blue;
}

#flag-id-6 {
    background-color: blue;
}

#flag-id-7 {
    background-color: blue;
}

#flag-id-8 {
    background-color: blue;
}

#flag-id-9 {
    background-color: blue;
}

#flag-id-10 {
    background-color: blue;
}

#flag-id-11 {
    background-color: blue;
}

#flag-id-12 {
    background-color: blue;
}

#flag-id-13 {
    background-color: blue;
}

#flag-id-14 {
    background-color: blue;
}

#flag-id-15 {
    background-color: blue;
}

#flag-id-16 {
    background-color: blue;
}

#flag-id-17 {
    background-color: blue;
}

#flag-id-18 {
    background-color: blue;
}

#flag-id-19 {
    background-color: blue;
}

#flag-id-20 {
    background-color: blue;
}

#flag-id-21 {
    background-color: blue;
}

#flag-id-22 {
    background-color: blue;
}

#flag-id-23 {
    background-color: blue;
}

#flag-id-24 {
    background-color: blue;
}

#flag-id-25 {
    background-color: blue;
}

#flag-id-26 {
    background-color: blue;
}

#flag-id-27 {
    background-color: blue;
}

#flag-id-28 {
    background-color: blue;
}

#flag-id-29 {
    background-color: blue;
}

#flag-id-30 {
    background-color: blue;
}

#flag-id-31 {
    background-color: blue;
}

#flag-id-32 {
    background-color: blue;
}

#flag-id-33 {
    background-color: blue;
}

#flag-id-34 {
    background-color: blue;
}

#flag-id-35 {
    background-color: blue;
}

#flag-id-36 {
    background-color: blue;
}

#flag-id-37 {
    background-color: blue;
}

#flag-id-38 {
    background-color: blue;
}

#flag-id-39 {
    background-color: blue;
}

#flag-id-40 {
    background-color: blue;
}

#flag-id-41 {
    background-color: blue;
}

#flag-id-42 {
    background-color: blue;
}

#flag-id-43 {
    background-color: blue;
}

#flag-id-44 {
    background-color: blue;
}

#flag-id-45 {
    background-color: blue;
}

#flag-id-46 {
    background-color: blue;
}

#flag-id-47 {
    background-color: blue;
}

#flag-id-48 {
    background-color: blue;
}

#flag-id-49 {
    background-color: blue;
}

#flag-id-50 {
    background-color: blue;
}