@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

body {
    background-color: rgb(141, 134, 136) !important;
}

.game-component {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    font-family: 'Rakkas', cursive;
}

button {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    font-family: 'Rakkas', cursive !important;
}

button:hover {
    background-color: rgba(255, 233, 0);
    color: rgb(80, 74, 75);
    font-family: 'Rakkas', cursive !important;
}

/* Flag images and respective ID numbers */

#option1,
#option2 {
    background-color: rgb(80, 74, 75);
    color: rgba(255, 233, 0);
    width: 100%;
    min-height: 300px;
    text-align: center;
    line-height: 300px;
    font-family: 'Rakkas', cursive !important;
    font-size: 900%;
}

#arg {
    background-color: aliceblue;
}
#aut {
    background-color: antiquewhite;
}
#bel {
    background-color: aqua;
}
#bol {
    background-color: aquamarine;
}
#bra {
    background-color: azure;
}
#can {
    background-color:beige ;
}
#cpv {
    background-color: bisque;
}
#chl {
    background-color: black;
}
#hrv {
    background-color: blanchedalmond;
}
#cze {
    background-color: blue;
}
#dnk {
    background-color: blueviolet;
}
#etr {
    background-color: brown;
}
#ecu {
    background-color: burlywood;
}
#egy {
    background-color: cadetblue;
}
#est {
    background-color: chartreuse;
}
#fra {
    background-color: chocolate;
}
#deu {
    background-color: coral;
}
#gha {
    background-color: cornflowerblue;
}
#grl {
    background-color: cornsilk;
}
#hnd {
    background-color: crimson;
}
#isl {
    background-color: cyan;
}
#irl {
    background-color: darkblue;
}
#imn {
    background-color: darkcyan;
}
#ita {
    background-color: darkgoldenrod;
}
#civ {
    background-color: darkgray;
}
#jpn {
    background-color: darkgreen;
}
#ken {
    background-color: darkgrey;
}
#kir {
    background-color: darkkhaki;
}
#mdg {
    background-color: darkmagenta;
}
#mwi {
    background-color: darkolivegreen;
}
#mlt {
    background-color: darkorange;
}
#nru {
    background-color: darkorchid
}
#nzl {
    background-color: darkred;
}
#nga {
    background-color: firebrick;
}
#nir {
    background-color: floralwhite;
}
#nor {
    background-color: forestgreen;
}
#pan {
    background-color: fuchsia;
}
#wsm {
    background-color: gainsboro;
}
#sco {
    background-color: ghostwhite;
}
#sen {
    background-color: gold;
}
#syc {
    background-color: goldenrod;
}
#zaf {
    background-color: gray;
}
#esp {
    background-color: green;
}
#swe {
    background-color: greenyellow;
}
#ukr {
    background-color: grey;
}
#ury {
    background-color: honeydew;
}
#usa {
    background-color: hotpink;
}
#vnm {
    background-color: indianred;
}
#wal {
    background-color: indigo;
}